{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Восстановление пароля{% endblock %}

{% block content %}
    <h2 class="title" style="padding-bottom: 0.25em;">{% if token_fail %}Неверный токен{% else %}Восстановление пароля{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Ссылка на сброс пароля оказалась недействительной, возможно, потому что она уже была использована. Пожалуйста, запросите <a href="{{ passwd_reset_url }}">новый сброс пароля</a>.</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Сменить пароль</button>
        </form>
    {% endif %}
{% endblock %}
